@import url('https://fonts.googleapis.com/css?family=Mina:700|Raleway:400,400i,700,700i');

body {
    font-family: 'Raleway', sans-serif;
};

h1, h2, h3, h4, h5, h6 {
    font-family: 'Mina', sans-serif;
}